<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dbmanagerBean" class="org.egitim.spring.domain.DbManager" scope = "singleton">
		<constructor-arg type="java.lang.String" name="connectionURL" value="jdbc" />
		<constructor-arg type="java.lang.String" name="user" value="egitim" />
		<constructor-arg type="java.lang.String" name="password" value="egitim" />
		<constructor-arg type="int" name="timeoutMinute" value="60" />
	</bean>
	
	<bean id="dbmanagerBean2" class="org.egitim.spring.domain.DbManager" scope = "singleton">
		<constructor-arg type="java.lang.String" name="connectionURL" value="jdbc" />
		<constructor-arg type="java.lang.String" name="user" value="egitim" />
		<constructor-arg type="java.lang.String" name="password" value="egitim" />
	</bean>

	<bean id="kisiController" class="org.egitim.spring.domain.KisiController">
		<property name = "dbmanager" ref= "dbmanagerBean">
		</property>
	</bean>
	
	<bean id="birimController" class="org.egitim.spring.domain.BirimController">
		<property name = "dbmanager" ref= "dbmanagerBean2">
		</property>
	</bean>

</beans>