<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/EgitimDB</property>
        <property name="hibernate.connection.username">egitim</property>
        <property name="hibernate.connection.password">egitim</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
       <property name="hbm2ddl.auto">validate</property>
       
       <mapping class="org.egitim.hibernate.model.data.Kisi"/>
       <mapping class="org.egitim.hibernate.model.data.Sehir"/>
       <mapping class="org.egitim.hibernate.model.data.Ulke"/>
    </session-factory>
</hibernate-configuration>


